
header { 
background-color: lightcoral;
height: 55px;
text-align: center;
}
main {
    display:flex;
    flex-direction: row;
    margin:auto;
    height:75%;
    
}
#forecastContainer{
    display: flex;
    flex-direction: row;
    margin: 2em;
}
.forecastCard{ 
 background-color: lavenderblush;
 padding:1%;
 margin: .1em;
 width: fit-content;
 height: fit-content;
}

aside {
    height: 500px;
    width: 250px;
    background-color: rgb(134, 110, 152);
    padding: .5em;
    margin: .5em ;
    position: relative;
}

#currentContainer {
    background-color: plum;
    height: 500px;
    width: 750px;
    margin: 10px;
    padding-top: 25px;
    text-align: center;
}